.parkingscreen-container{
    .item {
        background-color: $mainBlue;
        color: white;
        margin: 1rem;
        padding: 1rem;
        border-radius: 2rem;
        cursor: pointer;

        &:hover {
            background-color: #5894e2;
        }
    }

    .title {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .address {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
    }

    span {
        font-weight: bold;
    }

    .explanation {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}
