.screenbutton-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0rem;

    a {
        color: white;
        border-radius: 2rem;
        font-weight: bold;
        margin: 1rem;
        padding: 1.25rem;
        transition: .5s;
    }

    a:hover {
        background-color: $mainBlue;
    }
}
